:root {
	--color-bg-tint: #f2f2f2;
	--color-bg: #fff;
	--color-fg: #333;
	--color-border: silver;
	--color-primary: #27c;
	--color-primary-focus: #15b;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--color-fg: #fff;
		--color-bg: #222;
		--color-bg-tint: #333;
		--color-border: #555;
	}
}

* {
	box-sizing: border-box;
}

html {
	background-color: var(--color-bg-tint);
	accent-color: var(--color-primary);
}

@media (min-width: 30em) {
	html {
		margin: 2em;
	}
	body {
		box-shadow: 0 0 5em rgba(0,0,0,0.2);
	}
}

body {
	max-width: 30em;
	padding: 1em;
	margin: 0 auto;
	color: var(--color-fg);
	line-height: 1.4;
	background-color: var(--color-bg);
}

form {
	margin: 2em 0;
}

h1 {
	margin-top: 0;
	line-height: 1.2;
	border-bottom: 0.2em solid var(--color-primary);
}

label {
	display: block;
	margin-bottom: 0.5em;
}

input,
button {
	display: block;
	width: 100%;
	font-size: inherit;
	border-radius: 0.3em;
}

input {
	padding: 0.3em 0.5em;
	border: 1px solid var(--color-border);
}
input[readonly] {
	background-color: var(--color-bg-tint);
}

button {
	font-weight: bold;
	padding: 0.5em;
	background-color: var(--color-primary);
	color: var(--color-bg);
	border: 0;
	cursor: pointer;
}
button:hover,
button:focus {
	background-color: var(--color-primary-focus);
}
button:disabled {
	background-color: var(--color-primary);
	opacity: 0.5;
	cursor: progress;
}

table {
	width: 100%;
	margin-top: 2em;
}
td, th {
	text-align: end;
}
th:first-child {
	text-align: start;
}
